@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    direction: rtl;
    font-family: 'Rubik', sans-serif;
    background-color: #3f51b5;
}

h1 {
    color: white;
    text-align: center;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: white;
    margin: auto;
    border-radius: 6px;
}